[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf;
Actions=optimizePdfDefault;optimizePdfPrepress;optimizePdfPrinter;optimizePdfEbook;optimizePdfScreen

[Desktop Action optimizePdfDefault]
Name=optimize PDF - default
Exec=nucleus-utils optimize-pdf --preset default %f
Icon=application-pdf

[Desktop Action optimizePdfPrepress]
Name=optimize PDF - prepress
Exec=nucleus-utils optimize-pdf --preset prepress %f
Icon=application-pdf

[Desktop Action optimizePdfPrinter]
Name=optimize PDF - printer
Exec=nucleus-utils optimize-pdf --preset printer %f
Icon=application-pdf

[Desktop Action optimizePdfEbook]
Name=optimize PDF - ebook
Exec=nucleus-utils optimize-pdf --preset ebook %f
Icon=application-pdf

[Desktop Action optimizePdfScreen]
Name=optimize PDF - screen
Exec=nucleus-utils optimize-pdf --preset screen %f
Icon=application-pdf
