[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=openNucleusManual

[Desktop Action openNucleusManual]
Name=open nucleus manual
Exec=sh -c "exec $HOME/.local/lib/nucleus/open-manual"
Icon=help-contents
